# Annotations of the workflow

The idea is to get more content about the project/workflow.

* Conda environment for this Notebook: [Greference_tools](../environments/Greference_tools.yml)

In [4]:
## Import libreries

# Base packages
import subprocess
import os
import re
# Data manipulation
import pandas as pd
import numpy as np

# Metadata/report.csv

Lets see our Project and all the fields.

For this project we will be interested in download the Bam files in the ***8 field***: **submitted_ftp**

In [3]:
report = pd.read_csv("../../../metadata/report.tsv", sep="\t")
report

,study_accession,sample_accession,experiment_accession,run_accession,tax_id,scientific_name,fastq_ftp,submitted_ftp,sra_ftp
0,PRJEB7926,SAMEA3168442,ERX641122,ERR696683,9606,Homo sapiens,ftp.sra.ebi.ac.uk/vol1/fastq/ERR696/ERR696683/...,ftp.sra.ebi.ac.uk/vol1/run/ERR696/ERR696683/C2...,NaN
1,PRJEB7926,SAMEA3168443,ERX697048,ERR753368,9606,Homo sapiens,ftp.sra.ebi.ac.uk/vol1/fastq/ERR753/ERR753368/...,ftp.sra.ebi.ac.uk/vol1/run/ERR753/ERR753368/C2...,NaN
2,PRJEB7926,SAMEA3168444,ERX697049,ERR753369,9606,Homo sapiens,ftp.sra.ebi.ac.uk/vol1/fastq/ERR753/ERR753369/...,ftp.sra.ebi.ac.uk/vol1/run/ERR753/ERR753369/C2...,NaN
3,PRJEB7926,SAMEA3168445,ERX697050,ERR753370,9606,Homo sapiens,ftp.sra.ebi.ac.uk/vol1/fastq/ERR753/ERR753370/...,ftp.sra.ebi.ac.uk/vol1/run/ERR753/ERR753370/C3...,NaN
4,PRJEB7926,SAMEA3168446,ERX697051,ERR753371,9606,Homo sapiens,ftp.sra.ebi.ac.uk/vol1/fastq/ERR753/ERR753371/...,ftp.sra.ebi.ac.uk/vol1/run/ERR753/ERR753371/C3...,NaN
5,PRJEB7926,SAMEA3168447,ERX697052,ERR753372,9606,Homo sapiens,ftp.sra.ebi.ac.uk/vol1/fastq/ERR753/ERR753372/...,ftp.sra.ebi.ac.uk/vol1/run/ERR753/ERR753372/C3...,NaN
6,PRJEB7926,SAMEA3168448,ERX697053,ERR753373,9606,Homo sapiens,ftp.sra.ebi.ac.uk/vol1/fastq/ERR753/ERR753373/...,ftp.sra.ebi.ac.uk/vol1/run/ERR753/ERR753373/NG...,NaN
7,PRJEB7926,SAMEA3168449,ERX697054,ERR753374,9606,Homo sapiens,ftp.sra.ebi.ac.uk/vol1/fastq/ERR753/ERR753374/...,ftp.sra.ebi.ac.uk/vol1/run/ERR753/ERR753374/NG...,NaN
8,PRJEB7926,SAMEA3168450,ERX697055,ERR753375,9606,Homo sapiens,ftp.sra.ebi.ac.uk/vol1/fastq/ERR753/ERR753375/...,ftp.sra.ebi.ac.uk/vol1/run/ERR753/ERR753375/C-...,NaN
9,PRJEB7926,SAMEA3168451,ERX697056,ERR753376,9606,Homo sapiens,ftp.sra.ebi.ac.uk/vol1/fastq/ERR753/ERR753376/...,ftp.sra.ebi.ac.uk/vol1/run/ERR753/ERR753376/C2...,NaN
10,PRJEB7926,SAMEA3168452,ERX697057,ERR753377,9606,Homo sapiens,ftp.sra.ebi.ac.uk/vol1/fastq/ERR753/ERR753377/...,ftp.sra.ebi.ac.uk/vol1/run/ERR753/ERR753377/C8...,NaN
11,PRJEB7926,SAMEA3168453,ERX697058,ERR753378,9606,Homo sapiens,ftp.sra.ebi.ac.uk/vol1/fastq/ERR753/ERR753378/...,ftp.sra.ebi.ac.uk/vol1/run/ERR753/ERR753378/C3...,NaN

## Downloading the table 3, for supporting information found in the article.

After that we will use the function in pandas ```pd.read_clipboard()``` to download the data.

https://onlinelibrary.wiley.com/action/downloadSupplement?doi=10.1002%2Fgcc.22314&file=gcc22314-sup-0005-supptable5.docx

In [26]:
table3=pd.read_clipboard()
table3.head()

,Sample,Raw Reads,Sequencing depth (X),Reads after QC,Reads after QC# %,Mapped reads,Reads after QC %,% On-target (30X),Mean coverage (X),Genes covered (%),SNPs,Indels
0,IV-5^,29 191 671,84.95,22 978 888,"79,00 %",45 770 776,99.59%,"49,00 %",17.79x(1x-856x),98.48%,114 651,6 935
1,IV-2^,40 672 795,122.02,39 920 701,"88,00 %",71 507 872,99.54%,"79,00 %",26.76x(1x-860x),99.70%,226 812,10 226
2,IV-6^,43 486 476,130.46,38 353 481,"88,00 %",76 404 013,99.61%,"81,00 %",29.66x(1x-817x),99.71%,207 627,10 263
3,IV-4^,42 838 012,128.51,37 729 408,"88,00 %",75 125 893,99.56%,"81,00 %",28.76x(1x-877x),99.91%,229 099,10 325
4,IV-7^,377 188 93,113.16,33 250 705,"88,00 %",66 224 206,99.58%,"77,00 %",25.82x(1x-847x),99.70%,203 338,9 474

In [27]:
## We wolud do some tranformations to the first field ("Sample")
table3["Sample"] = table3["Sample"].str.replace(
    "-", "_"
    ).str.replace(
        "^", "_method1"
        ).str.replace(
            "*", "_method2"
            )
table3.head()

/tmp/ipykernel_34176/3769299083.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  ).str.replace(
/tmp/ipykernel_34176/3769299083.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  ).str.replace(

,Sample,Raw Reads,Sequencing depth (X),Reads after QC,Reads after QC# %,Mapped reads,Reads after QC %,% On-target (30X),Mean coverage (X),Genes covered (%),SNPs,Indels
0,IV_5_method1,29 191 671,84.95,22 978 888,"79,00 %",45 770 776,99.59%,"49,00 %",17.79x(1x-856x),98.48%,114 651,6 935
1,IV_2_method1,40 672 795,122.02,39 920 701,"88,00 %",71 507 872,99.54%,"79,00 %",26.76x(1x-860x),99.70%,226 812,10 226
2,IV_6_method1,43 486 476,130.46,38 353 481,"88,00 %",76 404 013,99.61%,"81,00 %",29.66x(1x-817x),99.71%,207 627,10 263
3,IV_4_method1,42 838 012,128.51,37 729 408,"88,00 %",75 125 893,99.56%,"81,00 %",28.76x(1x-877x),99.91%,229 099,10 325
4,IV_7_method1,377 188 93,113.16,33 250 705,"88,00 %",66 224 206,99.58%,"77,00 %",25.82x(1x-847x),99.70%,203 338,9 474

In [30]:
table3.to_csv("../../../metadata/table3.csv", index=None)

In [39]:
table3_csv = pd.read_csv("../../../metadata/table3.csv")
table3_csv

,Sample,Raw Reads,Sequencing depth (X),Reads after QC,Reads after QC# %,Mapped reads,Reads after QC %,% On-target (30X),Mean coverage (X),Genes covered (%),SNPs,Indels
0,IV_5_method1,29 191 671,84.95,22 978 888,"79,00 %",45 770 776,99.59%,"49,00 %",17.79x(1x-856x),98.48%,114 651,6 935
1,IV_2_method1,40 672 795,122.02,39 920 701,"88,00 %",71 507 872,99.54%,"79,00 %",26.76x(1x-860x),99.70%,226 812,10 226
2,IV_6_method1,43 486 476,130.46,38 353 481,"88,00 %",76 404 013,99.61%,"81,00 %",29.66x(1x-817x),99.71%,207 627,10 263
3,IV_4_method1,42 838 012,128.51,37 729 408,"88,00 %",75 125 893,99.56%,"81,00 %",28.76x(1x-877x),99.91%,229 099,10 325
4,IV_7_method1,377 188 93,113.16,33 250 705,"88,00 %",66 224 206,99.58%,"77,00 %",25.82x(1x-847x),99.70%,203 338,9 474
5,V_8_method1,55 720 364,222.88,51 583 390,"93,00 %",102 574 419,99.43%,"82,00 %",49.28x(1x-997x),99.57%,195 153,12 768
6,V_2_method1,55 054 777,160.22,37 529 435,"68,00 %",74 739 463,99.57%,"64,00 %",27.24x(1x-998x),98.62%,137 021,8 655
7,V_1_method1,57 215 132,166.51,34 333 842,"60,00 %",68 423 638,99.64%,"38,00 %",14.35x(1x-885x),98.21%,99 034,5 679
8,IV_6_method2,43486476,"130,46",38 353 481,"88,00 %",76 404 013,"99,61 %","81,00 %",29.66x(1x-817x),"99,71 %",207 626,10 263
9,IV_2_method2,40672795,"122,2",35920701,"88,00 %",71 507 872,"99,54 %","79,00 %",26.76x(1x-860x),"99,70 %",226 812,10 226
10,IV_4_method2,42838012,"125,51",37729408,"88,00 %",75 125 893,"99,56 %","81,00 %",28.76x(1x-877x),"99,91 %",229 099,10 325
11,IV_7_method2,37718893,"113,16",33250705,"88,00 %",66 224 205,"99,58 %","77,00 %",25.82x(1x-847x),"99,70 %",203 338,9 474

### Amount of reads after removing low quality sequences. 
### Low quality sequences are considered when

1. bases with Q20 account for >85% of the total sequence length 
2. reads with N-rate >10%

### Methods for seguencing

* **method1** run with Agilent Sureselect XT Human All Exon 50Mb
* **method2** run with Agilent SureSelect_XT_Human_All_Exon_V5

## Mean depth of the project

In [53]:
table3_csv["Sequencing depth (X)"].str.replace(",",".").astype(float).mean()

135.00333333333336

## **Calculating the AVERAGE sequence length for each sample**

In [5]:
## heavy computing +25 min -> you need all fastq.gz files in data/raw/

for chr in ["chr3", "chr5", "chr7", "chr12", "chr17"]:
    subprocess.run(["bash", "../scripts_analysis/01calculating_length.sh", chr])

subprocess.run(["bash", "../scripts_analysis/02joining_files.sh"])

CompletedProcess(args=['bash', '../scripts_analysis/02joining_files.sh'], returncode=0)

In [6]:
list_files = os.listdir("../../../results/annotations/")

list_files_path = []

for file in range(len(list_files)):
    path = "../../../results/annotations/" + list_files[file]
    list_files_path.append(path)

In [7]:
list_mean_len = []
list_sd_len = []

for file_path in list_files_path:

    with open(file_path) as file:
        len_list = file.readlines()
    
    mean_seq_len = np.array([s.strip() for s in len_list]).astype(int).mean().round(2)
    sd_seq_len = np.array([s.strip() for s in len_list]).astype(int).std().round(2)
    
    print("mean value of ", file_path.replace(
        "../../../results/annotations/", ""
        ).replace(
            "_len.txt", ""
            ), " -> ", mean_seq_len, "+/-", sd_seq_len)

    list_mean_len.append(mean_seq_len)
    list_sd_len.append(sd_seq_len)

mean value of  ERR753374  ->  94.61 +/- 2.29
mean value of  ERR753373  ->  94.72 +/- 2.18
mean value of  ERR753375  ->  75.51 +/- 1.26
mean value of  ERR753372  ->  75.89 +/- 0.73
mean value of  ERR753370  ->  100.64 +/- 1.27
mean value of  ERR696683  ->  75.48 +/- 1.31
mean value of  ERR753376  ->  75.48 +/- 1.31
mean value of  ERR753378  ->  75.89 +/- 0.73
mean value of  ERR753371  ->  75.24 +/- 1.53
mean value of  ERR753369  ->  75.89 +/- 0.73
mean value of  ERR753377  ->  75.5 +/- 1.29
mean value of  ERR753368  ->  75.89 +/- 0.73

In [8]:
df_len_seq = pd.DataFrame({
    "sample": pd.Series(list_files_path),
    "mean_len": pd.Series(list_mean_len),
    "sd_len": pd.Series(list_sd_len)
})

df_len_seq["sample"] = df_len_seq["sample"].str.replace("../../results/annotations/", "")
df_len_seq["sample"] = df_len_seq["sample"].str.replace("_len.txt", "")

df_len_seq.to_csv("../results_analysis/tables/len_mean.csv", index=None)

/tmp/ipykernel_5160/178359344.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df_len_seq["sample"] = df_len_seq["sample"].str.replace("../../results/annotations/", "")
/tmp/ipykernel_5160/178359344.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  df_len_seq["sample"] = df_len_seq["sample"].str.replace("_len.txt", "")

In [9]:
subprocess.run(["Rscript", "../scripts_analysis/03plot_mean_len.R"])

Rows: 12 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): sample
dbl (2): mean_len, sd_len

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

CompletedProcess(args=['Rscript', '../scripts_analysis/03plot_mean_len.R'], returncode=0)

<p align="center">
 
  <img src="../results_analysis/plots/mean_len.png" alt="800" width="900" />

</p>

## **Number of Seqs before and after fastp**

* In order to run the next code, you have to have all fastq files (**all chromosomes, reads**) in *raw* and *processed*

In [12]:
subprocess.run(["bash", "../scripts_analysis/04fastp_analysis.sh"])

CompletedProcess(args=['bash', '../scripts_analysis/04fastp_analysis.sh'], returncode=0)

In [13]:
df_fastp = pd.read_csv("../results_analysis/tables/fastp_analysis.tsv", sep="\t")
df_fastp

,nseqs_before_fastp_1,nseqs_after_fastp_1,nseqs_before_fastp_2,nseqs_after_fastp_2,sample
0,12782098,7326944,13710428,7805056,ERR696683
1,13599176,11157220,14455979,11949382,ERR753368
2,14418846,11807880,15425862,12735619,ERR753369
3,19137007,19062314,19599533,19503957,ERR753370
4,14433503,7201499,12561966,5931469,ERR753371
5,14631641,11966864,15577190,12843549,ERR753372
6,13156883,12736478,13659821,13173367,ERR753373
7,8358030,8054428,8337180,8001535,ERR753374
8,7548397,4585721,7793064,4706718,ERR753375
9,10409144,5947899,11104110,6292675,ERR753376
10,10743472,6282748,11570467,6734655,ERR753377
11,12435276,10207964,13382961,11073258,ERR753378

## Mapped reads, with the reference Genome

* ### flagstats: in order to do this analysis, you need all the flagstats information in metadata/logs/flagstats.

In [14]:
subprocess.run(["bash", "../scripts_analysis/05flagstats.sh"])

CompletedProcess(args=['bash', '../scripts_analysis/05flagstats.sh'], returncode=0)

In [16]:
flagstats = pd.read_csv("../results_analysis/tables/flagstats.tsv", sep="\t")
flagstats["mapped_reads_per"] = np.array(flagstats.mapped_reads/flagstats.num_seqs_afterQC*100).round(2)
flagstats["properly_paired_per"] = np.array(flagstats.properly_mapped/flagstats.num_seqs_afterQC*100).round(2) 
flagstats["singletons_per"] = np.array(flagstats.singletons/flagstats.num_seqs_afterQC*100).round(2)

In [18]:
flagstats.to_csv("../results_analysis/tables/flagstats.tsv", sep="\t")

In [19]:
flagstats

,num_seqs_afterQC,mapped_reads,properly_mapped,singletons,sample,mapped_reads_per,properly_paired_per,singletons_per
0,11412296,11409623,11231546,2627,ERR696683,99.98,98.42,0.02
1,16198288,16196058,15993978,2168,ERR753368,99.99,98.74,0.01
2,17277398,17275307,17129454,2035,ERR753369,99.99,99.14,0.01
3,26218218,26212327,25691172,5811,ERR753370,99.98,97.99,0.02
4,8699690,8698945,8641500,725,ERR753371,99.99,99.33,0.01
5,17248693,17246266,17053104,2369,ERR753372,99.99,98.87,0.01
6,15265537,15264298,14760716,1183,ERR753373,99.99,96.69,0.01
7,8999288,8998390,8664044,870,ERR753374,99.99,96.27,0.01
8,7405222,7404251,7339372,947,ERR753375,99.99,99.11,0.01
9,9079860,9078482,8990840,1342,ERR753376,99.98,99.02,0.01
10,9708805,9706917,9599718,1842,ERR753377,99.98,98.88,0.02
11,14926310,14924251,14780184,2007,ERR753378,99.99,99.02,0.01